@model Smart_Utube.DTOs.Comment.CommentCreateDto

@{
    ViewData["Title"] = "Create comment";
}

<h1>Add comment</h1>

<form asp-action="Create" method="post">

    <input type="hidden" asp-for="MovieId" />

    <div class="form-group">
        <label>Comment</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Add comment
    </button>

</form>