@model Smart_Utube.Models.Comment

@{
    ViewData["Title"] = "Edit Comment";
}

<h2>Edit Comment</h2>

<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Edit">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="MovieId" />
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <br />

            <button type="submit" class="btn btn-primary">
                Save
            </button>

        </form>

    </div>
</div>

<div>
    <a asp-controller="Movies"
       asp-action="Details"
       asp-route-id="@Model.MovieId">
        Back to movie
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}